Repository T-220-VLN2-H2/Code, pull requests merged in 2022-04, with the labels that each got.

#1 Added state diagrams
  .github/labeler.yml
  db/schema.sql
  docs/diagrams/stateDiagrams.pu
Labels: doc, meta, code, db

#2 Class Diagrams
  docs/diagrams/classDiagram.pu
  docs/diagrams/clsModels.pu
  docs/diagrams/clsServices.pu
  docs/diagrams/clsViews.pu
Labels: doc

#3 Django setup
  .gitignore
  README.md
  firesale/firesale/__init__.py
  firesale/firesale/asgi.py
  firesale/firesale/settings.py
  firesale/firesale/urls.py
  firesale/firesale/wsgi.py
  firesale/manage.py
  requirements.txt
Labels: meta
