Repository T-220-VLN2-H2/Code, pull requests merged in 2022-05, with the labels that each got.

#5 Added testing workflow inital
  .github/workflows/django-tester.yml
  requirements.txt
Labels: meta

#4 Added an example checkout module
  firesale/checkout/__init__.py
  firesale/checkout/admin.py
  firesale/checkout/apps.py
  firesale/checkout/migrations/__init__.py
  firesale/checkout/models.py
  firesale/checkout/templates/base.html
  firesale/checkout/templates/home.html
  firesale/checkout/tests/__init__.py
  firesale/checkout/tests/test_views.py
  firesale/checkout/urls/__init__.py
  firesale/checkout/urls/checkout.py
  firesale/checkout/views/__init__.py
  firesale/checkout/views/checkout.py
  firesale/firesale/settings.py
  firesale/firesale/urls.py
Labels: documentation

#6 Update .editorconfig
  .editorconfig
Labels: meta

#8 Folder structure refactor
  .github/workflows/django-tester.yml
  checkout/__init__.py
  checkout/admin.py
  checkout/apps.py
  checkout/migrations/__init__.py
  checkout/models.py
  checkout/templates/base.html
  checkout/templates/home.html
  checkout/tests/__init__.py
  checkout/tests/tstviews.py
  checkout/urls/__init__.py
  checkout/urls/checkout.py
  checkout/views/__init__.py
  checkout/views/checkout.py
  core/__init__.py
  core/admin.py
  core/apps.py
  core/migrations/__init__.py
  core/models.py
  core/templates/base.html
  core/templates/category/home.html
  core/tests/__init__.py
  core/tests/test_categories.py
  core/urls/__init__.py
  core/urls/categories.py
  core/views/__init__.py
  core/views/categories.py
  firesale/__init__.py
  firesale/asgi.py
  firesale/settings.py
  firesale/urls.py
  firesale/wsgi.py
  manage.py
Labels: meta

#7 testing linting
  .eslintrc.yml
  .github/labeler.yml
  .github/workflows/linting.yml
Labels: meta

#10 Created user view skeleton
  core/templates/user/edit.html
  core/templates/user/history.html
  core/templates/user/index.html
  core/templates/user/messages.html
  core/urls/users.py
  core/views/users.py
  firesale/urls.py
Labels: code, api, web

#9 Category view
  .gitignore
  checkout/templates/base.html
  core/static/css/style.css
  core/templates/base.html
  core/templates/categories/home.html
  core/templates/category/home.html
  core/templates/navigation.html
  core/tests/test_categories.py
  core/views/categories.py
  firesale/settings.py
Labels: meta, code, api, web

#14 Navigation bar updates
  checkout/apps.py
  checkout/tests/tstviews.py
  checkout/urls/checkout.py
  checkout/views/checkout.py
  core/apps.py
  core/static/css/style.css
  core/static/js/main.js
  core/templates/base.html
  core/templates/categories/home.html
  core/templates/navigation.html
  core/tests/test_categories.py
  core/urls/categories.py
  core/urls/items.py
  core/urls/user.py
  core/views/categories.py
  core/views/data.py
  core/views/items.py
  core/views/user.py
  firesale/asgi.py
  firesale/settings.py
  firesale/urls.py
  firesale/wsgi.py
  manage.py
Labels: code, api, web

#15 Actual user in templates and meta paths
  core/templates/index.html
  core/templates/login.html
  core/templates/navigation.html
  core/templates/register.html
  core/templates/user/messages.html
  core/tests/test_login.py
  core/tests/test_register.py
  core/urls/meta.py
  core/views/data.py
  core/views/meta.py
  core/views/user.py
  firesale/urls.py
Labels: code, api, web

#18 labler has better labels and solid globbing
  .github/labeler.yml
Labels: meta

#17 small fixes
  core/static/css/style.css
  core/templates/navigation.html
  core/views/user.py
Labels: core, view

#19 Models
  core/forms/checkout_forms.py
  core/forms/item_form.py
  core/forms/user_form.py
  core/services/bid_service.py
  core/services/category_service.py
  core/services/item_service.py
  core/services/notification_service.py
  core/services/order_service.py
  core/services/payment_service.py
  core/services/search_service.py
  core/services/user_service.py
Labels: core

#20 Db schema
  core/models.py
  core/models/__init__.py
  core/models/catagory.py
  core/models/item.py
  core/models/notifications.py
  core/models/order.py
  core/models/order_history.py
  core/models/order_items.py
  core/models/payment_info.py
  core/models/search_history.py
  core/models/shipping_details.py
  core/models/user.py
  core/models/user_bids.py
  core/models/user_ratings.py
  core/models/user_sales.py
  db/schema.sql
  docs/diagrams/clsModels.pu
Labels: doc, core

#22 Services
  core/forms/item_form.py
  core/forms/user_form.py
Labels: core

#26 Added the django authentication system
  core/forms/user_form.py
  core/models/user_ratings.py
  core/static/js/main.js
  core/static/js/tabSelector.js
  core/templates/login.html
  core/templates/navigation.html
  core/templates/register.html
  core/templates/registration/login.html
  core/templates/user/edit.html
  core/templates/user/history.html
  core/templates/user/index.html
  core/templates/user/messages.html
  core/templates/user/user.html
  core/urls/meta.py
  core/urls/user.py
  core/views/categories.py
  core/views/data.py
  core/views/items.py
  core/views/meta.py
  core/views/user.py
  firesale/settings.py
  firesale/urls.py
Labels: core, view, firesale, urls

#25 Fixes and features
  core/models/user_ratings.py
  core/static/js/main.js
  core/static/js/tabSelector.js
  core/templates/navigation.html
  core/templates/user/edit.html
  core/templates/user/history.html
  core/templates/user/index.html
  core/templates/user/messages.html
  core/templates/user/user.html
  core/views/data.py
  core/views/user.py
Labels: core, view

#28 Update settings.py
  firesale/settings.py
Labels: firesale

#27 Added category fetcher service and updated views to use that data
  core/models/__init__.py
  core/models/category.py
  core/models/item.py
  core/services/category_service.py
  core/views/categories.py
  core/views/items.py
  core/views/meta.py
  core/views/user.py
Labels: core, view

#29 Db schema
  core/models/category.py
  core/models/item.py
  core/models/notifications.py
  core/models/order.py
  core/models/order_history.py
  core/models/order_items.py
  core/models/payment_info.py
  core/models/search_history.py
  core/models/shipping_details.py
  core/models/user.py
  core/models/user_bids.py
  core/models/user_ratings.py
  core/models/user_sales.py
Labels: core

#31 Category view
  core/migrations/0001_initial.py
  core/models/item.py
  core/views/categories.py
  firesale/settings.py
Labels: core, view, firesale

#32 Creating items is added to user sales
  .github/workflows/django-tester.yml
  core/admin.py
  core/category_context_processor.py
  core/fixtures/categories.json
  core/forms/item_form.py
  core/migrations/0002_item_delivery_option_item_title_order_order_items_and_more.py
  core/migrations/0003_alter_usersales_id.py
  core/migrations/0004_item_description.py
  core/migrations/0005_item_is_sold.py
  core/migrations/0006_item_date_created.py
  core/models/__init__.py
  core/models/item.py
  core/models/order.py
  core/models/order_history.py
  core/models/user.py
  core/models/user_sales.py
  core/services/item_service.py
  core/static/js/main.js
  core/templates/categories/category_page.html
  core/templates/index.html
  core/templates/items/item_details.html
  core/templates/items/items.html
  core/templates/items/items_create.html
  core/templates/navigation.html
  core/templates/register.html
  core/templates/sidebar.html
  core/templates/user/history.html
  core/urls/items.py
  core/views/categories.py
  core/views/items.py
  core/views/meta.py
  core/views/user.py
  firesale/settings.py
Labels: meta, core, view, firesale, urls

#33 Services
  core/forms/bid_form.py
  core/forms/checkout_forms.py
  core/forms/user_form.py
  core/migrations/0007_alter_userbids_expires.py
  core/models/item.py
  core/models/notifications.py
  core/models/user_bids.py
  core/services/bid_service.py
  core/services/category_service.py
  core/services/item_service.py
  core/services/search_service.py
  core/services/user_service.py
  core/templates/items/item_bid.html
  core/templates/items/item_details.html
  core/views/items.py
Labels: core, view

#34 Items
  .github/workflows/django-tester.yml
  core/models/user.py
  core/services/search_service.py
  core/static/css/style.css
  core/static/js/searchResults.js
  core/templates/base.html
  core/templates/navigation.html
  core/tests/test_login.py
  core/urls/meta.py
  core/views/search.py
Labels: meta, core, view, urls, tests

#37 Search, item and bids
  core/services/bid_service.py
  core/services/search_service.py
  core/static/js/searchResults.js
  core/templates/navigation.html
  core/templates/search_result.html
  core/templates/user/history.html
  core/views/items.py
  core/views/search.py
  core/views/user.py
Labels: core, view

#39 Profiles are working
  core/forms/user_form.py
  core/migrations/0001_initial.py
  core/services/user_service.py
  core/templates/user/edit.html
  core/templates/user/index.html
  core/templates/user/user.html
  core/views/user.py
Labels: core, view

#38 Services
  core/forms/checkout_forms.py
  core/migrations/0008_alter_profile_table.py
  core/migrations/0009_notification_read.py
  core/models/notifications.py
  core/models/user_bids.py
  core/services/bid_service.py
  core/services/category_service.py
  core/services/item_service.py
  core/services/notification_service.py
  core/services/user_service.py
  core/templates/checkout/card_into.html
  core/templates/checkout/delivery_info.html
  core/templates/checkout/personal_info.html
  core/templates/checkout/summary.html
  core/templates/items/item_checkout.html
  core/templates/navigation.html
  core/urls/meta.py
  core/views/items.py
  core/views/user.py
Labels: core, view, urls

#44 User view
  core/migrations/0001_initial.py
  core/services/user_service.py
  core/templates/base.html
  core/templates/user/history.html
  core/templates/user/user.html
  core/views/user.py
Labels: core, view

#47 First image best image
  core/fixtures/images.json
  core/forms/user_form.py
  core/models/__init__.py
  core/models/order.py
  core/models/order_history.py
  core/models/order_items.py
  core/models/user.py
  core/models/user_ratings.py
  core/models/user_sales.py
  core/services/bid_service.py
  core/services/user_service.py
  core/static/js/searchResults.js
  core/templates/user/index.html
  core/views/categories.py
  core/views/checkout.py
  core/views/data.py
  core/views/items.py
  core/views/meta.py
  core/views/user.py
Labels: core, view

#48 Items
  core/views/user.py
Labels: core, view

#49 Items
  core/migrations/0001_initial.py
  core/views/user.py
Labels: core, view

#50 Items
  core/views/items.py
Labels: core, view

#52 Lagfæring á add_bid
  core/services/bid_service.py
  core/static/media/images/test_4_0.png
  core/views/items.py
Labels: core

#54 Services
  core/category_context_processor.py
  core/forms/checkout_form.py
  core/services/bid_service.py
  core/services/category_service.py
  core/services/image_service.py
  core/services/item_service.py
  core/services/notification_service.py
  core/services/order_service.py
  core/services/payment_service.py
  core/services/search_service.py
  core/services/user_service.py
  core/static/media/images/Triforce_3_0.png
  core/static/media/images/helgi.png
  core/templates/404.html
  core/templates/checkout/delivery_info.html
  core/templates/checkout/payment_info.html
  core/templates/checkout/personal_info.html
  core/templates/checkout/user_details.html
  core/templates/user/index.html
  core/templates/user/recent_activity.html
  core/templates/user/user.html
  core/urls/checkout.py
  core/views/categories.py
  core/views/checkout.py
  core/views/items.py
  core/views/meta.py
  core/views/search.py
  core/views/session.py
  core/views/user.py
Labels: core, view, urls

#55 Fix and add stuff
  core/templates/user/history.html
Labels: core

#57 User view
  core/forms/user_form.py
  core/models/order.py
  core/services/order_service.py
  core/static/css/style.css
  core/static/media/images/patti.png
  core/static/media/images/patti_v13ut9z.png
  core/templates/items/item_details.html
  core/templates/user/history.html
  core/templates/user/index.html
  core/templates/user/user.html
  core/views/items.py
  core/views/user.py
Labels: core, view

#56 Styling
  core/static/css/style.css
  core/templates/base.html
  core/templates/items/item_details.html
  core/templates/items/item_list.html
  core/templates/navigation.html
  core/templates/notification.html
  core/templates/sidebar.html
Labels: core

#59 Services
  core/forms/checkout_form.py
  core/models/delivery_details.py
  core/templates/checkout/delivery_info.html
  core/templates/checkout/payment_info.html
  core/templates/checkout/summary.html
  core/templates/checkout/user_details.html
  core/views/checkout.py
  firesale/settings.py
Labels: core, view, firesale

#61 fixed relation for item images
  core/forms/item_form.py
  core/models/__init__.py
  core/models/image.py
  core/models/item.py
  core/services/image_service.py
Labels: core

#64 Services
  core/migrations/0001_initial.py
  core/models/user_bids.py
  core/services/bid_service.py
  core/services/item_service.py
  core/templates/checkout/summary.html
  core/views/checkout.py
Labels: core, view

#66 deployment and fixed checkout
  .github/workflows/deployment.yml
  core/views/checkout.py
  docker-compose.yml
Labels: meta, core, view

#67 Alot of changes
  core/fixtures/dota_items.json
  core/migrations/0002_alter_notification_message.py
  core/migrations/0003_userbids_status.py
  core/migrations/0004_alter_userbids_status.py
  core/models/shipping_details.py
  core/notification_context_processor.py
  core/services/item_service.py
  core/services/search_service.py
  core/templates/categories/category_page.html
  core/templates/items/filter.html
  core/templates/items/item_bid.html
  core/templates/items/item_details.html
  core/templates/navigation.html
  core/templates/search_result.html
  core/views/items.py
  core/views/search.py
  requirements.txt
Labels: core, view

#68 Styling profile, small changes to item details.
  core/forms/user_form.py
  core/migrations/0001_initial.py
  core/static/css/style.css
  core/templates/items/item_bid.html
  core/templates/items/item_details.html
  core/templates/user/edit.html
  core/templates/user/history/sold_items.html
  core/templates/user/index.html
  core/templates/user/recent_activity.html
  core/templates/user/user.html
  core/views/items.py
  core/views/user.py
  firesale/settings.py
Labels: core, view, firesale

#69 Items
  core/notification_context_processor.py
  core/services/order_service.py
  core/templates/checkout/summary.html
  core/views/checkout.py
  firesale/settings.py
Labels: core, view, firesale

#71 Last minute detail
  core/migrations/0001_initial.py
  core/services/bid_service.py
  core/services/item_service.py
  core/static/css/style.css
  core/templates/navigation.html
  core/templates/register.html
  core/templates/registration/login.html
  core/templates/user/history/active_bids.html
Labels: core
